body {
    background-color: #2d545e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

img {
    border-radius: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 400px));
    grid-gap: 40px;
    justify-content: center;
    margin: 100px;
}

.box-1 {
    background-color: #c89666;
    border: solid 3px black;
    text-align: center;
    padding: 20px;
}

.dark-mode {
    background-color: black;
    color: black;
}